<h3>Editar Exame</h3>
<div>
  <form>
    <div class="form-group" style="width: 400px;">
      <label for="name">nome</label>
      <input type="text" class="form-control" id="nome" required [(ngModel)]="exame.nome" name="nome">
    </div>

    <div class="form-group" style="width: 400px;">
      <label for="name">Quantidade de Vagas</label>
      <input type="text" class="form-control" id="quantidadeVagas" required [(ngModel)]="exame.quantidadeVagas"
        name="quantidadeVagas">
    </div>

    <table class="table">
      <tbody>
        <tr>
          <th>Nome Candidato</th>
          <th>Nota Candidato</th>
          <th>Ação</th>
        </tr>
        <tr *ngFor="let inscricao of inscricoes | async">
          <td>{{inscricao.nomeCandidato}}</td>
          <td>{{inscricao.nota}}</td>
          <td>
            <button class="btn btn-info" (click)="mostrarModal(inscricao)">Alterar/add nota</button>
            <button class="btn btn-danger" (click)="mostrarModalDeletar(inscricao)">Deletar Inscricao</button>
          </td>
        </tr>
      </tbody>
    </table>

    <button type="submit" (click)="onSubmit()" class="btn btn-success">Enviar</button>
    <button routerLink="/exames/lista" routerLinkActive ="true" class="btn btn-info" style="margin-left: 10px">Voltar</button>


    <div class="modal" *ngIf="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Adicionar/Alterar nota do Candidato: {{inscricao.nomeCandidato}}</h5>
            <button type="button" class="close" (click)="fecharModal()" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="name">Nota:</label>
            <input type="number" class="form-control" id="nota" required [(ngModel)]="inscricao.nota" min="0" max="100"
              name="nota">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="adicionarNota(inscricao)">Salvar Mudanças</button>
            <button type="button" class="btn btn-secondary" (click)="fecharModal()" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>

    </div>

    <div class="modal" *ngIf="modalDeletar">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Tem certeza que deseja remover a Inscricao do Candidato: {{inscricao.nomeCandidato}}</h5>
            <button type="button" class="close" (click)="fecharModal()" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <button type="button" class="btn btn-danger" (click)="delelar(inscricao)">Deletar</button>
            <button type="button" class="btn btn-info" (click)="fecharModal()" data-dismiss="modal">Voltar</button>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>