<h2>Exame</h2>

<hr />
<div *ngIf="exame">
    <div>
        <label><b>Quantidade de Vagas: </b></label> {{exame.quantidadeVagas}}
    </div>
</div>
<div class="panel-heading">
    <h4>Candidato(s) cadastrado(s) no: {{exame.nome}}</h4>
</div>
<div class="panel-body">
    <table class="table">
        <thead>
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Cidade</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inscricao of inscricoes| async  let i = index ">
                <td>{{i+1}}</td>
                <td>{{inscricao.nomeCandidato}}</td>
                <td>{{inscricao.cidadeCandidato}}</td>
                <td>{{inscricao.nota}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<button (click)="listar()" class="btn btn-primary">Voltar</button><br>

<div id="modal" class="modal" tabindex="-1" role="dialog" *ngIf="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar/Alterar nota do Candidato: {{inscricao.nomeCandidato}}</h5>
                <button type="button" class="close" (click)="exibirModal()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="name">Nota:</label>
                <input type="number" class="form-control" id="nota" required [(ngModel)]="inscricao.nota" min="0"
                    max="100" name="nota">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="adicionarNota(inscricao)">Salvar Mudanças</button>
                <button type="button" class="btn btn-secondary" (click)="exibirModal()"
                    data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>