<h3>Inscrever candidato em um Exame</h3>
<div [hidden]="submitted" style="width: 400px;">
        <div class="form-group">
            <label for="name">Nome do Candidato</label>
            <select [(ngModel)]=inscricao.idCandidato class="form-control">
                <option value="null">Selecione:</option>
                <option *ngFor="let candidato of candidatos | async" [ngValue]="candidato.id"> {{candidato.nome}} </option> 
            </select>
        </div>
        <div class="form-group">
            <label for="name">Nome do Exame</label>
            <select [(ngModel)]=inscricao.idExame class="form-control">
                <option value="null">Selecione:</option>
                <option *ngFor="let exame of exames | async" [ngValue]="exame.id"> {{exame.nome}} </option> 
            </select>
        </div>  
        <button type="submit" class="btn btn-success" (click)="onSubmit()">Enviar</button>
</div>

<div [hidden]="!submitted">
    <h4>Cadastro efetuado!!</h4>
    <button class="btn btn-success" (click)="novaInscricao()">Nova Inscricao</button>
</div>